<!doctype html>
{% load static %}
<html lang="en">
    <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/account_things/account_things.css' %}">
             <title>Смена пароля</title>
</head>
<body>
    <div class="form-container">
        <h2>Смена пароля</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Сменить пароль</button>
        </form>
        <a href="{% url 'request_password_reset' %}" class="btn secondary">C Помощью эмаила</a>
        <a href="{% url 'account' %}" class="btn secondary">Назад в профиль</a>
    </div>
</body>
</html>


